<div class='circle center flex-container' id='game-board'>

  <div [@changeColour]='this.colourStates.green'
       (click)="this.pressPiece('green')"
       class='game-piece'
       id='top-left'></div>

  <div [@changeColour]='this.colourStates.red'
       (click)="this.pressPiece('red')"
       class='game-piece'
       id='top-right'></div>

  <div [@changeColour]='this.colourStates.yellow'
       (click)="this.pressPiece('yellow')"
       class='game-piece'
       id='bottom-left'></div>

  <div [@changeColour]='this.colourStates.blue'
       (click)="this.pressPiece('blue')"
       class='game-piece'
       id='bottom-right'></div>

  <div class='center circle' id='center-circle'><span class='center' id='score'>
    {{this.gameLogicService.getScore()}}
  </span></div>
</div>

<div>
  <p> {{this.gameLogicService.getLives()}} Lives Remaining</p>
  <button class='btn btn-default' (click)="this.playSequence()">Play Sequence</button>
  <button (click)="this.addToSequence()">Add to Sequence</button>
</div>
